<label>
    Child’s Full Name:
    <input type="text" name="childName" required>
</label>

<label>
    Date of Birth:
    <input type="date" name="dob" required>
</label>

<label>
    Time of Birth:
    <input type="time" name="birthTime" required>
</label>

<label>
    Place of Birth:
    <input type="text" name="birthPlace" required>
</label>

<label>
    Gender:
    <select name="gender" required>
        <option value="">Select</option>
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
    </select>
</label>

<label>
    Mother’s Full Name:
    <input type="text" name="motherName" required>
</label>

<label>
    Father’s Full Name:
    <input type="text" name="fatherName" required>
</label>

<label>
    Address:
    <textarea name="address" required></textarea>
</label>

<label>
    Religion:
    <input type="text" name="religion">
</label>

<label>
    Nationality:
    <input type="text" name="nationality" required>
</label>

<label>
    Informant’s Name:
    <input type="text" name="informantName" required>
</label>

<label>
    Relationship to Child:
    <input type="text" name="relationToChild" required>
</label>

<label>
    Upload Supporting Documents:
    <input type="file" name="docs">
</label>