<label>
    Select State:
    <input type="text" name="state" required>
</label>

<label>
    District:
    <input type="text" name="district" required>
</label>

<label>
    Email ID (to receive alerts):
    <input type="email" name="email">
</label>