<label>
    Select Category:
    <select name="noticeCategory" required>
        <option value="">--Select--</option>
        <option value="construction">Construction</option>
        <option value="environment">Environment</option>
        <option value="transport">Transport</option>
        <option value="general">General</option>
    </select>
</label>

<label>
    District:
    <input type="text" name="district" required>
</label>