<label>
    Applicant Name:
    <input type="text" name="applicantName" required>
</label>

<label>
    Contact Number:
    <input type="tel" name="contact" required>
</label>

<label>
    Email:
    <input type="email" name="email" required>
</label>

<label>
    Department Concerned:
    <input type="text" name="department" required>
</label>

<label>
    Subject:
    <input type="text" name="subject" required>
</label>

<label>
    Information Required:
    <textarea name="infoRequired" rows="4" required></textarea>
</label>