<label>
    Name:
    <input type="text" name="name" required>
</label>

<label>
    Age:
    <input type="number" name="age" min="15" max="60" required>
</label>

<label>
    Email:
    <input type="email" name="email" required>
</label>

<label>
    Select Training Program:
    <select name="program" required>
        <option value="">--Select--</option>
        <option value="coding">Coding Bootcamp</option>
        <option value="digital-marketing">Digital Marketing</option>
        <option value="mechanics">Mechanical Skills</option>
        <option value="fashion">Fashion Designing</option>
    </select>
</label>

<label>
    Upload ID Proof:
    <input type="file" name="idProof">
</label>