<label>
    Tender ID:
    <input type="text" name="tenderId" required>
</label>

<label>
    Organization Name:
    <input type="text" name="orgName" required>
</label>

<label>
    Your Business Name:
    <input type="text" name="businessName" required>
</label>

<label>
    Submit Proposal (PDF):
     <!-- accept=".pdf" -->
    <input type="file" name="proposal">
</label>