<label>
    Full Name:
    <input type="text" name="fullName" required>
</label>

<label>
    Father's Name:
    <input type="text" name="fathersName" required>
</label>

<label>
    District:
    <input type="text" name="district" required>
</label>

<label>
    Constituency:
    <input type="text" name="constituency" required>
</label>